/* css styles */

.navbar-logo {
  max-height: 40px;
}

.g-col-3 {
  background-color: lightgray;
  padding: 30px;
}

.circle-image {
  border-radius: 50%;
}

.resume-section {
  color: darkblue;
}

.resume-emphasis {
  font-style: italic;
}

.resume-title {
  margin-bottom: 0px;
}

.resume-link {
  color: black;
}

.blackbox {
  padding: .5em;
  background: lightgray;
  color: black;
  border: 20px solid white;
  border-radius: 30px;
}

.textbubble {
  padding: .2em;
  background: white;
  color: black;
  border-radius: 5px;
  line-height: 2;
  white-space: nowrap;
  margin-right: 4px;
}

.center {
  text-align: center;
}