/* css styles */

.navbar-logo {
  max-height: 40px;
}

.resume-sidebar {
  background-color: lightgray;
  padding: 30px;
}

.resume-main {
  padding: 30px;
}

.circle-image {
  border-radius: 50%;
}

.section-color {
  color: darkblue;
}

.resume-emphasis {
  font-style: italic;
}

.resume-title {
  margin-bottom: 0px;
}

.resume-link {
  color: black;
}

.blackbox {
  padding: .5em;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
}

.project-button {
  padding: .4em;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 2;
  white-space: nowrap;
  margin-right: 4px;
}

.textbubble {
  padding: .2em;
  background: white;
  color: black;
  border-radius: 5px;
  line-height: 2;
  white-space: nowrap;
  margin-right: 4px;
}

.center {
  text-align: center;
}
